<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="emps" routerLinkActive="active" class="nav-link">Employees</a>
    </li>
    <li class="nav-item">
      <a routerLink="addemp" routerLinkActive="active" class="nav-link">Create Employee</a>
    </li>
    <li class="nav-item">
      <a routerLink="findemp" routerLinkActive="active" class="nav-link">Find Employee</a>
    </li>
<!--
    <li class="nav-item">
      <a routerLink="findsub" routerLinkActive="active" class="nav-link">Find Subscriber</a>
    </li>-->
  </ul>
</nav>

<!--<h1 class="text-center">{{title}}</h1>-->
<div class="container">
  <router-outlet></router-outlet>
</div>

